@page
@model RegisterModel
@{
    ViewData["Title"] = "Create your NEXTnews account";
   }

<div class="row mt-3">

    <div class="col-md-12" style="margin-bottom: 20px">
        <h1 style="color: black; font-size: 40px;text-align: center; font-weight: bold;">@ViewData["Title"]</h1>
        <h2 style="color: black; font-size: 20px;text-align: center;">
            Already have an account? &nbsp;  <a asp-area="Identity" asp-page="/Account/Login" id="login-submit" type="submit" style="text-decoration: underline;">Sign in.</a>
        </h2>
        <hr />
    </div>


    <div class="col-md-6" style="margin-top:80px">
        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.FirstName">FirstName</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.LastName">LastName</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.DateofBirth" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.DateofBirth">DateofBirth</label>
                <span asp-validation-for="Input.DateofBirth" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" style="background-color:black" type="submit" class="w-100 btn btn-lg btn-dark">Create Account</button>
        </form>
    </div>
    <div class="col-md-6">
        @* col-md-offset-2 *@
        <section>

            <img src="~/images/nextnews.img/breaking (1).jpg" style="width:85%;padding-left:40px;padding-top:20px;" /> @* position:absolute;top:40% *@



        </section>
    </div>

    <div class="col-md-12" style="margin-top: 100px">
        <hr />
        <h3>Use another service to register.</h3>
        
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>

                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                            article
                            about setting up this ASP.NET application to support logging in via external services
                        </a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
