@model IEnumerable<NextNews.Models.Database.SubscriptionType>

@{
    ViewData["Title"] = "SubscriptionTypeList";
}

<h1>SubscriptionTypeList</h1>

<p>
    <a asp-action="CreateTypes">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="TypesEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="TypesDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="TypesDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
