<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <a style="color:red; font-weight:bold; font-size:50px" href="@Url.Action("ArticlesByCategories", "CategoriesView", new { categoryId = 7 })">@Model.CategoryName</a>
            <div class="d-flex flex-column">
                <ul>
                    @foreach (var item in Model.ArticlesInList)
                    {
                        <li>
                            <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">
                                @item.LinkText
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-8">
            <div class="row">
                <div class="picture-row">
                    @foreach (var item in Model.ArticlesInBoxes)
                    {
                        <div class="picture-container">
                            <a asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">
                                <img src="@item.ImageLink" alt="Picture 1" class="picture" style="width: 300px; height: 140px">
                            </a>
                            <div class="text-container">
                                <p>@item.LinkText</p>
                                <span class="publish-date">Published on: @item.DateStamp?.ToShortDateString()</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
